# https://kubernetes.io/docs/concepts/services-networking/service/
apiVersion: v1
kind: Service
metadata:
  name: postgres-service
  namespace: vote-app
spec:
  selector:
    app: postgres
  ports:
    - name: postgres-service
      protocol: TCP
      port: 5432
      targetPort: 5432
---
