# https://kubernetes.io/docs/concepts/services-networking/service/
apiVersion: v1
kind: Service
metadata:
  name: redis-service
  namespace: vote-app
spec:
  selector:
    app: redis
  ports:
    - name: redis-service
      protocol: TCP
      port: 6379
      targetPort: 6379
---
